

.MainContainer{
    display: flex;
    background-color:  #171B2A;
    padding: 10px;
    color: white;
    margin-top: 60px;
}

.companycontacts{
    padding: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
  
    width: 60%;
}
.aboutjprt{
    text-align: left;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}
.socialMediaHandel{
    display: flex;
    
    align-items: center;

}
.logo{
    margin: 15px;
    height: 100px;
    width: 100px;
    
}
.MainInfo{
    padding: 10px;
    display: flex;
    padding-top: 25px;
    align-items: left;
    flex-direction: column;
    width: 40%;
    justify-content: left;
    

}
.Servicess{
    padding: 10px;
    display: flex;
    padding-top: 25px;
    align-items: left;
    flex-direction: column;
    width: 40%;
    height: 100%;

}
.h4tag{
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    
}
.list{
    font-size: 22px;
    font-weight: 400;
    margin-top: 7px;
    list-style: none;
}
 .ulist{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 90%;
    padding: 0px;
 }

 .Address{
    padding: 10px;
    display: flex;
    padding-top: 25px;
    align-items: left;
    flex-direction: column;
    width: 60%;
    
}

.MapAddress{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}


.Mail{
    display: flex;
    justify-content: left;
    
}
.ContactImage{
    height: 25PX;
    margin-right: 10px;
}
.ContactMail{
    font-size: 22px;
}

.h5tag{
    font-size: 20px;
}

.h2tag{
    font-size: 25px;
}
.h3tag{
    font-size: 20px;
    margin: 0px;
}
.socialmediaImage{
    height: 40px;
    margin-inline: 10px;
}

.copyRight{
    height: 7vh;
    background-color: #282B38;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 100%;
  
}

.Google-Map{
    width:"350";
    height:"200" ;
    border: 0;
    
    
}
.section-1{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}

.c-image{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}