
.OurDoctor{
    flex-direction: column;
    padding: 2%;
    margin-inline: 4%;
}

.Doctor{
   display: flex;
   margin: 20px;
}

.doctorH2{
    font-weight: 900;
    font-size: 60px;
    color: #001958;
    margin-bottom: 10px;
}
.doctorH3{
    font-weight: 400;
    font-size: 40px;
    color: #001958;
    margin-bottom: 10px;
}
.doctorH4{
    font-weight: 400;
    font-size: 40px;
    color: #FFD500;
    margin-bottom: 10px;
}

.DoctorProfileImage{
    height: 500px;
}

.DoctorP{
    font-weight: 400;
    font-size: 22px;
    width: 90%;
    line-height: 1.5;
}

.DoctorData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.DrProfileImage{
    height: 450px;
}
.doctorName{
    font-weight: 700;
    font-size: 40px;
    color: #001958;
    margin-bottom: 10px;
}
.doctorDezignation{
    font-weight: 700;
    font-size: 25px;
    color: #002B99;
    margin-bottom: 10px;
}

.doctorExperience{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;

}
.marginleft{
    margin-left: 70px;
}