body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.Top_bar {
    display: flex;
    margin: 20px 0;
    text-align: center;
    justify-content: space-between;
}

h1 {
    color: #001958;
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    text-align: center;


}

p {
    margin-top: 5rem;
}

.ViewButton {
    margin-top: 14px;
    height: 38px;
    width: 10rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid black;
}

.first_gallery {
    display: flex;

}

.gallery-item1 {
    position: relative;
    perspective: 500px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}


.gallery-item1 img {
    width: 100%;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.gallery-item1 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 87%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    background-color: rgba(244, 218, 24, 0.8);
    color: black;
    padding: 20px;
    margin: 10px 20px;
    box-sizing: border-box;
    transition: transform 0.8s;
    text-align: center;
    align-items: center;
}

.gallery-item1:hover img {
    transform: rotateY(180deg);
}

.gallery-item1:hover .details {
    transform: rotateY(0deg);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}



.gallery-item {
    display: none;
    flex: 200px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.show {
    display: block;
}

.mainGallery {
    height: 220px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 20px;

}